<!DOCTYPE html>
<html>
  <head>
    <title>insta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <p class="navbar-item">
          <%= link_to root_path do %>
            <strong class="is-size-3 ml-6" style="font-family: cursive; color: black;">insta</strong>
          <% end %>
        </p>      
      </div>
    </nav>
    <section class="section">
      <div class="columns is-centered">
        <div class="column is-5">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
